{
  "extends": [
    "eslint:recommended", 
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018
  },
  "plugins": ["html", "prettier", "@typescript-eslint", "import"],
  "rules": {
    "semi": [2,"never"],
    "quotes": [2, "single"],
    "@typescript-eslint/camelcase": 0,
    "no-unused-vars": 0, // @typescript-eslint/no-unused-vars
    "@typescript-eslint/no-use-before-define": [2, { "functions": false }],
    "no-useless-escape": 1,
    "curly": ["error", "all"],
    "indent": ["error", 2],
    "camelcase": "error",
    "eqeqeq":"error", // 要求使用 === 和 !==
    "no-constant-condition":"error", // 禁止在条件中使用常量表达式 
    "no-empty":"error" // 禁止出现空语句块
  }
}